*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#logo{
    float: left;
}

a{
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
    padding-top: 1rem;
}

#second{
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

#third{
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1.15rem;
    margin: 30px 0px 50px;
}

#basliq{
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.first{
    background: url(https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding-top: 30rem;
}

#header{
    padding: 20px 4rem;
    overflow: auto;
    position: fixed;
    width: 100%;
}

#hr{
    background-color: #f4623a;
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem;
    background-color: #f4623a;
    opacity: 1;
    border: none;
}
